#page-container{width:760px; margin: auto; background: rgb(200, 121, 237)}

#header {background: rgb(95, 240, 228); height: 150px; }

#content {background: rgb(255, 215, 113); } 



#main-nav { 
height: 15px; 
text-align:center; 
font-family: Tahoma, Arial, Helvetica, Sans-serif; 
}

#main-nav a{ 
color: #c9c9c9; 
text-decoration: none; 
} 

#footer { 
height: 70px; 
font-family: Tahoma, Arial, Helvetica, Sans-serif; 
font-size: 10px; 
color: #000000; 
border-top: 1px solid #000000; 
padding: 13px 25px; 
line-height: 18px; 
} 

#footer a { 
color: #000000; 
text-decoration: none; 
}

#footer a:hover { 
color: #db6d16; 
}

#footer #altnav { 
width: 350px; 
float: right; 
text-align: right; 
}

#content { 
font-family:Tahoma, arial, helvetica, sans-serif; 
font-size:14px; 
padding: 15px 15px;}
